body {
    color: #0a0a0a;
    background-color: rgb(119, 187, 247);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.th {
    border: 0px;
}

.icon-tbl {
    padding: 0;
    border: 0px;
}

.tituloTable {
    text-align: center;
    align-items: center;
    padding: 1%;
}

.banner-home {
    width: 100%;
}

.nav-menu {
    border: 0;
    margin: 0;
}

.navbar-pessoa {
    width: 100%;
}

/*footer */
#rodape {
    background-color: rgb(21, 25, 105);
    color: white;
    align-items: center;
    text-align: center;
    padding: 2%;
    width: 100%;
}

#rodape .div-footer {
    padding: 1% 0;
    border-bottom: solid 2px #f0eff6;
}

.imagem-produtos-home {
    border-radius: 1%;
}

.div-imagens-home {
    padding: 1%;
    text-align: center;
}

.div-mapa-home {
    text-align: center;
    align-items: center;
    padding: 1%;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 2%;
    background-color: rgb(21, 25, 105);
    color: white;
    align-items: center;
    text-align: center;
}
#footer .div-footer{
    padding: 1% 0;
    border-bottom: solid 2px #f0eff6;
}