body {
    color: #0a0a0a;
    background-color: rgb(119, 187, 247);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.th {
    border: 0px;
}

.titulo-modal-excluir {
    font-weight: bolder;
}

.tituloTabela {
    text-align: center;
    align-items: center;
    padding: 1%;
}

.banner-inicio {
    width: 100%;
}

.nav-menu {
    border: 0;
    margin: 0;
}

.imagem-produtos-inicio {
    border-radius: 1%;
}

.div-imagens-inicio {
    padding: 1%;
    text-align: center;
}

.div-mapa-inicio {
    text-align: center;
    align-items: center;
    padding: 1%;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 2%;
    background-color: rgb(21, 25, 105);
    color: white;
    align-items: center;
    text-align: center;
}

#footer .div-footer {
    padding: 1% 0;
    border-bottom: solid 2px #f0eff6;
}

.mapa-inicio {
    width: 80%;
    height: 400;
    border: 0;
}

.div-cadastro{
display: inline-flex;
}

.input-pesquisa {
    padding: 1%;
}

.div-button{
    padding: 1%;
}