<!DOCTYPE html>
<html lang="pt-br"
    ng-app="aplicacao">

<head>
    <meta charset="UTF-8">
    <title>CRUD com AngularJS</title>
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../lib/angular/angular.js"></script>
    <script src="../js/controllers/itemCompraController.js"></script>
    <link rel="stylesheet"
        href="../css/style.css">
</head>

<body ng-controller="itemCompraController">
    <nav class="navbar navbar-inverse nav-menu"
        role="navigation">
        <div class="navbar-header">
            <button type="button"
                class="navbar-toggle"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"
                href="index.html">Início</a>
        </div>
        <div class="collapse navbar-collapse"
            id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="compra.html">Compras</a></li>
                <li><a href="itemCompra.html">Itens</a></li>
                <li><a href="pessoa.html">Pessoas</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="pessoa.html"
                        data-toggle="modal"
                        data-target="#myModal">Cadastrar</a></li>
            </ul>
        </div>
    </nav>
    <section>
        <div class="tituloTable">
            <h3>Listagem de Produtos</h3>
            <input class="form-control"
                type="text"
                ng-model="filtroDeBusca"
                placeholder="O que você está buscando?" />
        </div>

        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="th">Código</th>
                        <th class="th">Nome</th>
                        <th class="th">Valor</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="item in itens | filter:filtroDeBusca ">
                        <td>{{item.codigo}}</td>
                        <td>{{item.nome}}</td>
                        <td>{{item.valor}}</td>
                        <td>
                            <button type="button"
                                class="btn btn-warning"
                                data-toggle="modal"
                                data-target="#myModalEditar"
                                ng-click="selecionaItem(item)"><i class="glyphicon glyphicon-pencil"></i></button>
                        </td>
                        <td>
                            <button type="button"
                                class="btn btn-danger"
                                data-toggle="modal"
                                data-target="#myModalExcluir"
                                ng-click="selecionaItem(item)">
                                <i class="glyphicon glyphicon-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="modal fade"
            id="myModal"
            role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button"
                            class="close"
                            data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Novo Cadastro</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal"
                            role="form">

                            <div class="form-group">
                                <label class="control-label col-sm-2">Nome</label>
                                <div class="col-sm-10">
                                    <input type="text"
                                        class="form-control"
                                        placeholder="Mala de viagem"
                                        ng-model="novoItem.nome">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Valor</label>
                                <div class="col-sm-10">
                                    <input type="number"
                                        class="form-control"
                                        placeholder="354"
                                        ng-model="novoItem.valor">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit"
                                        class="btn btn-primary"
                                        ng-click="cadastrarItem()"
                                        data-dismiss="modal">Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal">Fechar</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade"
            id="myModalEditar"
            role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button"
                            class="close"
                            data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Editar Cadastro</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal"
                            role="form">

                            <div class="form-group">
                                <label class="control-label col-sm-2">Nome</label>
                                <div class="col-sm-10">
                                    <input type="text"
                                        class="form-control"
                                        placeholder="Computador Dell ..."
                                        ng-model="itemSelecionado.nome">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Valor</label>
                                <div class="col-sm-10">
                                    <input type="number"
                                        class="form-control"
                                        placeholder="345"
                                        ng-model="itemSelecionado.valor">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit"
                                        class="btn btn-primary"
                                        ng-click="alterarItem()"
                                        data-dismiss="modal">Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade"
            id="myModalExcluir"
            role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button"
                            class="close"
                            data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Você tem certeza?</h4>
                    </div>
                    <div class="modal-body">
                        <h4 class="titulo-modal-excluir"> Você vai excluir o item {{itemSelecionado.nome}} ?</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal"
                            ng-click="excluirItem()"
                            data-dismiss="modal">Sim</button>
                        <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal">Não</button>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <footer id="footer">
        <div class="div-footer">
            <h5> &copy; Debora Ribeiro - 2023 </h5>
        </div>
    </footer>
</body>

</html>