<nav class="navbar navbar-inverse nav-menu"
    role="navigation">
    <div class="navbar-header">
        <button type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"
            ng-href="#/inicio">Início</a>
    </div>
    <div class="collapse navbar-collapse"
        id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a ng-href="#/compra">Compras</a></li>
            <li><a ng-href="#/produtos">Itens</a></li>
            <li><a ng-href="#/pessoa">Pessoas</a></li>
        </ul>
    </div>
</nav>