<!DOCTYPE html>
<html lang="pt-br" ng-app="pessoa">

<head>
    <meta charset="UTF-8">
    <title>CRUD com AngularJS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../lib/angular/angular.js"></script>
    <script src="../js/controllers/pessoaController.js"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body ng-controller="pessoaController">

    <nav class="navbar navbar-inverse navbar-pessoa" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Início</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="compra.html">Compras</a></li>
                <li><a href="itemCompra.html">Itens</a></li>
                <li><a href="pessoa.html">Pessoas</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="pessoa.html" data-toggle="modal" data-target="#myModal">Cadastrar</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>

    <section id="bgd">
        <div class="tituloTable">
            <h3> Listagem de Pessoas </h3>
            <input class="form-control" type="text" ng-model="filtroDeBusca" placeholder="O que você está buscando?"/>
        </div>

        <div>
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th class="th">Código</th>
                        <th class="th">Nome</th>
                        <th class="th">Pessoa</th>
                        <th class="th">Nascimento</th>
                        <th class="th">Sexo</th>
                        <th class="th">Pcd</th>
                        <th class="th">Altura</th>
                        <th class="th">Peso</th>
                        <th class="th">Endereço</th>
                        <th class="th">Profissão</th>
                        <th class="th">Salário</th>
                        <th class="th">Bairro</th>
                        <th class="th">IPTU</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="pessoa in pessoas | filter:criterioDeBusca ">
                        <td>{{pessoa.codigo}}</td>
                        <td>{{pessoa.nome}}</td>
                        <td>{{pessoa.tipopessoa.pessoa}}</td>
                        <td>{{pessoa.nascimento | date:'dd/MM/yyyy'}}</td>
                        <td>{{pessoa.sexo == "Masculino" ? "M" : "F"}}</td>
                        <td>{{pessoa.pcd == false ? "não":"sim"}}</td>
                        <td>{{pessoa.altura}}</td>
                        <td>{{pessoa.peso}}</td>
                        <td>{{pessoa.endereco.cep}} {{pessoa.endereco.rua}} {{pessoa.endereco.numero}}</td>
                        <td>{{pessoa.profissao.nome}}</td>
                        <td>{{pessoa.profissao.salario}}</td>
                        <td>{{pessoa.bairro.nome}}</td>
                        <td>{{pessoa.bairro.iptu}}</td>
                        <td>
                            <button type="button" class="btn btn-warning" data-toggle="modal"
                                data-target="#myModalEditar" ng-click="selecionaPessoa(pessoa)"><i
                                    class="glyphicon glyphicon-pencil"></i> </button>
                        </td>
                        <td><button type="button" class="btn btn-danger" data-toggle="modal"
                                data-target="#myModalExcluir" ng-click="selecionaPessoa(pessoa)"> 
                                <i class="glyphicon glyphicon-trash"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Novo Cadastro</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-sm-2">Tipo de Pessoa</label>
                                <div class="col-sm-10">
                                    <select class="form-control" ng-model="novaPessoa.tipopessoa.pessoa">
                                        <option value="Fisica">Física</option>
                                        <option value="Juridica">Jurídica</option>
                                        <option value="Especial">Especial</option>
                                        <option value="Outros">Outros</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" ng-if="novaPessoa.tipopessoa.pessoa !== 'Juridica'">
                                <label class="control-label col-sm-2">Nome</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Carla Roberta"
                                        ng-model="novaPessoa.nome">
                                </div>
                            </div>

                            <div class="form-group" ng-if="novaPessoa.tipopessoa.pessoa !== 'Juridica'">
                                <label class="control-label col-sm-2">Data de Nascimento</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" placeholder="27/08/2000"
                                        ng-model="novaPessoa.nascimento">
                                </div>
                            </div>

                            <div class="form-group" ng-if="novaPessoa.tipopessoa.pessoa !== 'Juridica'">
                                <label class="control-label col-sm-2">Altura</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" placeholder="1.78"
                                        ng-model="novaPessoa.altura">
                                </div>
                            </div>

                            <div class="form-group" ng-if="novaPessoa.tipopessoa.pessoa !== 'Juridica'">
                                <label class="control-label col-sm-2">Peso</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" placeholder="75"
                                        ng-model="novaPessoa.peso">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">CPF / CNPJ</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="00000000000"
                                        ng-model="novaPessoa.cpfcnpj">
                                </div>
                            </div>

                            <div class="form-group" ng-if="novaPessoa.tipopessoa.pessoa !== 'Juridica'">
                                <label class="control-label col-sm-2">Sexo</label>
                                <div class="col-sm-10">
                                    <select class="form-control" ng-model="novaPessoa.sexo">
                                        <option>Masculino</option>
                                        <option>Feminino</option>
                                        <option>Outro</option>
                                        <option>Prefiro não informar</option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group" ng-if="novaPessoa.tipopessoa.pessoa !== 'Juridica'">
                                <label class="control-label col-sm-2">Portador de Necessidades Especiais</label>
                                <div class="col-sm-10">
                                    <input type="checkbox" name="sim">Sim</input>
                                    <input type="checkbox" name="não">Não</input>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Cep</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Nome..."
                                        ng-model="novaPessoa.endereco.cep">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Rua</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Avenida NS 8"
                                        ng-model="novaPessoa.endereco.rua">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Número</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="15"
                                        ng-model="novaPessoa.endereco.numero">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Complemento</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Próximo a Previdência Social"
                                        ng-model="novaPessoa.endereco.complemento">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Bairro</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Vila Nova..."
                                        ng-model="novaPessoa.bairro.nome">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Valor do Iptu</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" placeholder="1250"
                                        ng-model="novaPessoa.bairro.valoriptu">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Profissão</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Cabeleireira"
                                        ng-model="novaPessoa.profissao.nome">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Salário</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" placeholder="5220"
                                        ng-model="novaPessoa.profissao.salario">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary" ng-click="adicionarPessoa()"
                                        data-dismiss="modal">Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModalEditar" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Editar Cadastro</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-sm-2">Nome</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Carla Roberta"
                                        ng-model="pessoaSelecionado.nome">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Data de Nascimento</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" placeholder="23/08/2002"
                                        ng-model="pessoaSelecionado.nascimento">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Altura</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" placeholder="189"
                                        ng-model="pessoaSelecionado.altura">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Peso</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" placeholder="75"
                                        ng-model="pessoaSelecionado.peso">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">CPF / CNPJ</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="00000000000"
                                        ng-model="pessoaSelecionado.cpfcnpj">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Sexo</label>
                                <div class="col-sm-10">
                                    <select class="form-control" ng-model="pessoaSelecionado.sexo">
                                        <option>Masculino</option>
                                        <option>Feminino</option>
                                        <option>Outro</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Tipo de Pessoa</label>
                                <div class="col-sm-10">
                                    <select class="form-control" ng-model="pessoaSelecionado.tipopessoa">
                                        <option>Física</option>
                                        <option>Jurídica</option>
                                        <option>Especial</option>
                                        <option>Outros</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Portador de Necessidades Especiais</label>
                                <div class="col-sm-10">
                                    <input type="checkbox" name="sim" ng-model="pessoaSelecionado.pcd">Sim</input>
                                    <input type="checkbox" name="não" ng-model="pessoaSelecionado.pcd">Não</input>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Cep</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Nome..."
                                        ng-model="pessoaSelecionado.endereco.cep">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Rua</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Nome..."
                                        ng-model="pessoaSelecionado.endereco.rua">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Número</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Nome..."
                                        ng-model="pessoaSelecionado.endereco.numero">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Complemento</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Complemento..."
                                        ng-model="pessoaSelecionado.endereco.complemento">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Bairro</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Vila Nova..."
                                        ng-model="pessoaSelecionado.bairro.nome">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Valor do Iptu</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" placeholder="1250"
                                        ng-model="pessoaSelecionado.bairro.valoriptu">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Profissão</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Professor"
                                        ng-model="pessoaSelecionado.profissao.nome">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Salário</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" placeholder="5220"
                                        ng-model="pessoaSelecionado.profissao.salario">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary" ng-click="alterarPessoa()"
                                        data-dismiss="modal">Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModalExcluir" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Você tem certeza?</h4>
                    </div>
                    <div class="modal-body">
                        <h4 style="font-weight: bolder"> Você vai excluir o Cadastro de {{pessoaSelecionado.nome}}</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="excluirPessoa()"
                            data-dismiss="modal">Sim</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <footer id="footer">
        <div class="div-footer">
            <h5> &copy; Debora Ribeiro - 2023 </h5>
        </div>
    </footer>
</body>
</html>